body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
input {
  display:block;
  width:50%;
  margin:10px 0;
  padding:10px;
  height: 40px;
  background-color: #fafafa;
  border:0;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  transition: .3s box-shadow;
  
}
input:hover {
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}
.submitbutton{
  margin: 30px 0px 100px 200px ;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 12px;  
  font-size: 20px;
  width: 150px;
   height: 50px;
   transition: .3s box-shadow;
}
.submitbutton:hover {
  background-color: #2543e9; 
  color: white;
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
